<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <title>Timetable Dashboard</title>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-trigger').dropdown();
            $('.sidenav').sidenav();
        });
    </script>
</head>
<body>
    <header>
        <nav class="nav-wrapper indigo darken-4">
            <div class="container">
                <a href="/" class="brand-logo"><i class="material-icons left">schedule</i>Timetable</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- Sidenav for mobile users -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </header>

    <main>
        <div class="container">
            <h4 class="center-align">Welcome to the Timetable System</h4>
            <div class="section">
                <center>
                    <a class="waves-effect waves-light btn indigo" href="/auth/google">Login with Google</a>
                </center>
            </div>
        </div>
    </main>

   <footer class="page-footer indigo darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About the Timetable System</h5>
                    <p class="grey-text text-lighten-4">Efficiently manage and view academic schedules with our advanced system.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Quick Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Suggestions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>   
</body>
</html>
