<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  hii
  <body>
    <button onclick="fetchProfessorSlots()">Get Professor Slots</button>

    <script>
        function fetchProfessorSlots() {
            fetch('/professor_slots')
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
</html>