<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <title>Timetable Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip();
            $('#download-csv').click(function(){
                window.location.href = '/download-timetable';
            });
        });
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">Timetable <i class="material-icons left">schedule</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h4 class="header">Weekly Timetable</h4>
            <button id="download-csv" class="btn waves-effect waves-light tooltipped" data-position="left" data-tooltip="Download as CSV">
                Download CSV
                <i class="material-icons right">cloud_download</i>
            </button>
            {% if schedule_data %}
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Courses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in schedule_data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="card-panel red lighten-4">No timetable data available.</div>
            {% endif %}
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Timetable System</h5>
                    <p class="grey-text text-lighten-4">This system allows for managing and viewing academic timetables efficiently.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Quick Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Settings</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
