<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', path='main.css') }}" rel="stylesheet">
    <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
    <title>Document</title>
</head>
<body>
    <header>
        <nav role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Some Title <i class="material-icons left hide-on-med-and-down">apps</i></a>
            <ul id="dropdown" class="dropdown-content">
              <li><a href="">Register</a></li>
              <li class="divider"></li>
              <li><a href="">Sign In</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li id="timer-tab"><a href="">Tab 1</a></li>
              <li id="stats-tab"><a href="">Tab 2</a></li>
              <li id="graphs-tab"><a href="">Tab 3</a></li>
              <li><a href="" data-activates="dropdown" class="dropdown-button">Tab 4<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>
      </header>
    
      <main>
        <div class="container">
            TIMETABLE
        </div>
      </main>
    
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Some Title</h5>
              <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col l2 offset-l2 s6">
              <h6>About</h6>
              <ul>
                <li><a href="" class="grey-text text-lighten-3">Help</a></li>
                <li><a href="" class="grey-text text-lighten-3">Contact</a></li>
                <li><a href="" class="grey-text text-lighten-3">Suggestions</a></li>
              </ul>
            </div>
            <div class="col l2 s6">
              <h6>Developer</h6>
              <ul>
                <li><a href="" class="grey-text text-lighten-3">Source</a></li>
                <li><a href="" class="grey-text text-lighten-3">Contribute</a></li>
                <li><a href="" class="grey-text text-lighten-3">API Docs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">Made by <a href="">Me </a></div>
        </div>
      </footer>   
</body>
</html>